.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #b71c1c;
  color: #ffffff;
}

.my-flex-mat-card {
  display: flex !important;
  flex-direction: column !important;
  overflow: visible !important;
}
